/* --Inicio--->-Carrousel----------------------------------------------------------------------------------------- */

.carousel {
    position: relative;
    width: 100%;    
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-text {
    position: absolute;
    top: 50%;           
    left: 50%;          
    transform: translate(-50%, -50%); 
    color: white;
    text-align: center;
    z-index: 10;        
}

.carousel-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.carousel-text p {
    font-size: 1.5rem;
}

.slide {
    min-width: 100%;
    height: 100%;
    position: relative;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

button {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0);
  color: white;
  border: none;
  font-size: 35px;
  padding: 20px;
  cursor: pointer;
  margin: 10px;
}

.prev { left: 0; }
.next { right: 0; }

/* --Inicio------------------------------------------------------------*/

.titulos{
    text-align: center;
    margin: 20px;
    margin-top: 60px;
    color: #ff6fbe;
}

#masVendidas{
    width: 400px;
    background-color: white;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.masVendidasCaja:nth-child(even){
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 10%;
}
.masVendidasCaja:nth-child(even) p{ width: 60%; margin:5% }
.masVendidasCaja:nth-child(odd){
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
}
.masVendidasCaja:nth-child(odd) p{ width: 60%; margin:5% }

#descripcionTecnica{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    p{
        width: 100%;
        font-size: 18px;
    }
    strong{
        font-size: 25px;
    }
}

.menuMapa{
    margin: 5%;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
}

.textoMapa{ flex-direction: column; }
.textoMapa > h2{ text-align: center; color: #ff6fbe; margin-bottom: 10px; font-size: 30px;}
.textoMapa > p{ text-align: center; font-size: 20px;}
