*{
    margin: auto;
    padding: 0%;
}

/* --Header-------------------------------------------------------------------------------------------------- */

header{
    left: 20%;
    padding: 10px;
    border-bottom: 10px rgb(255, 192, 227) solid;
    padding-left: 120px;
    background: rgb(255, 240, 249);
}

ul{
    float: right;
}

li, li a{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding-top: 25px;
    margin-right: 25px;
    font-size: 18px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    color: black; 
    transition: transform 0.5s ease, color 0.5s ease;
}
li, li a:hover{
    transform: scale(1.1);
    color: rgb(255, 111, 190); 
}

li, li a:active{
    transform: scale(1.1);
    color: rgb(255, 111, 190); 
}

/* --Footer-------------------------------------------------------------------------------------------------- */

.footer {
  background-color: rgb(255, 155, 210);
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 50px 20px 20px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.footer-col h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.line {
  width: 100%;
  height: 4px;
  background-color: #88d0c1;
  margin-bottom: 15px;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-col a {
  color: #ffffff;
  text-decoration: none;
}

.footer-col.center {
  text-align: center;
}

.social-icons {
  margin-top: 15px;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #88d0c1;
  color: #3b2f2a;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.footer-links {
  text-align: center;
  margin: 30px 0 10px;
}

.footer-links a {
  color: #ffffff;
  margin: 0 10px;
  font-size: 13px;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  font-size: 12px;
  opacity: 0.8;
}

/* --Inicio------------------------------------------------------------------------------------------------------- */

/* -----------Carrousel------------------------------------------------------------------------------------------- */

.carousel {
  position: relative;
  width: 100%;    
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}


button {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0);
  color: white;
  border: none;
  font-size: 35px;
  padding: 20px;
  cursor: pointer;
  margin: 10px;
}

.prev { left: 0; }
.next { right: 0; }
